/* el boton de regresar con el color de pabsa */
.pabsa-btn{
    background-color: #FF5733;
    color: white;
    font-weight: bold;
  }
/* el boton de regresar con el color de pabsa */



.centrar-verticalmente{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height: 100%;
      
}
.centrar-horizontal{
    display: flex;
    align-items: center;
    justify-content: flex-center;
    width: 100%;
}
.fondo{
    background-color: rgb(204, 218, 224);
}
.fondo-titulos{
    background-color: rgba(229, 229, 229);
}
small{
    font-size: 0.8em;
}

.sombra{
    box-shadow: 10px 10px 10px 10px rgba(0.3, 0.3, 0.3, 0.3);
}
body{
    background-image: url(../img/fondo.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}


.area-a-imprimir {
    display: block; /* Asegura que el área sea visible durante la impresión */
    width: 100%;
    margin: 0;
    padding: 0;
}

.centrar-verticalmente{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resizeable-div {
    transition: all 0.3s ease;
    background-color: white;
}

/* Estilo cuando el mouse pasa por encima */
.resizeable-div:hover {
    transform: scale(1.2); /* Hace el div 20% más grande */
    background: url('../img/click.mp3') no-repeat;
    background-color: white;
}


.resizeable-table{
    transition: all 0.3s ease;
    background-color: white;
}
.resizeable-table:hover{
    background-color: #e9e7e7;
    transform: scale(1.01); /* Hace el div 20% más grande */
}

a{
    text-decoration: none;
    color: black;
}
.tiempo{
    transition: all 0.3s ease;
}

.fotos{
    cursor: pointer;
}



